.toast-container {
  position: fixed;
  top: 3%;
  right: 3%;
  z-index: 1500;
}

.toast-notification {
  margin-bottom: 0.75rem;
}

.toast-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff
}

.toast-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745
}

.toast-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb
}

.toast-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107
}

/* Custom Spinner */
.background-spinner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #343a40 !important;
  opacity: 0.2;
  display: none;
  z-index: 1300;
}

.spin-wrapper {
  /* position: relative;
    width: 100%;
    height: 100px;
    margin-top: 3px; */
  display: none;
  z-index: 1500;
}

.spinner {
  z-index: 1500;
  position: absolute;
  height: 80px;
  width: 80px;
  border: 7px solid transparent;
  border-top-color: #075db8;
  top: 50%;
  left: 50%;
  margin: -30px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.spinner::before,
.spinner::after {
  content: '';
  position: absolute;
  border: 7px solid transparent;
  border-radius: 50%;
}

.spinner::before {
  border-top-color: #2A2C2B;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  animation: spin 3s linear infinite;
}

.spinner::after {
  border-top-color: #D9CB9E;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}